Weekly Expense Summary Reporter.json
{
  "name": "Weekly Expense Summary Reporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -64
      ],
      "id": "95183ec4-8684-45c8-ac6a-b607080fa3ea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  category,\n  SUM(amount) AS total_spent,\n  COUNT(*) AS transactions\nFROM transactions_clean\nWHERE created_at >= NOW() - INTERVAL '7 days'\nGROUP BY category;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -64
      ],
      "id": "8cc8efe0-868b-4b99-9223-6a3e80f3da56",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "0FnbB8Ar1b35DqLj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let report = `\n<h2 style=\"font-family:Arial;\">📊 Weekly Expense Summary</h2>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial;\">\n  <tr style=\"background-color:#f2f2f2;\">\n    <th>Category</th>\n    <th>Total Spent (₹)</th>\n    <th>Transactions</th>\n  </tr>\n`;\n\nitems.forEach(item => {\n  report += `\n  <tr>\n    <td>${item.json.category}</td>\n    <td>${item.json.total_spent}</td>\n    <td>${item.json.transactions}</td>\n  </tr>\n  `;\n});\n\nreport += `</table><br><p>— This report was generated automatically by n8n 🚀</p>`;\n\nreturn [\n  {\n    json: {\n      report\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -64
      ],
      "id": "2624fe36-9e1d-4c78-b33b-8412f6ec6ffe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "namancoc464@gmail.com",
        "subject": "=📊 Weekly Expense Summary",
        "message": "={{ $json.report }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -64
      ],
      "id": "66c0c31d-3428-4119-b3e4-7ffe64d17b41",
      "name": "Send a message",
      "webhookId": "dcf04c76-545f-45ce-8e89-7f4c2093d549",
      "credentials": {
        "gmailOAuth2": {
          "id": "p4d1W2icwsHxQssF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a78407fc-c3f9-40b5-8cf0-a40c4b4d8954",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f375d2c46d7d7ee554f8abd19ef7e1ce3abb0a56858970c0bdf86d91ade2d28"
  },
  "id": "BwXUZRjvLxBMv7uklLQJM",
  "tags": []
}
